.user-repository-container {
	margin: 2px;
	width: 100%;
	display: inline-flex;
	box-shadow: none !important;
	border-bottom: 1px solid rgb(216, 222, 228);
}

.user-repository {
	.repo-language-color {
		background-color: $background-color_6;
		display: inline-block;
		width: 12px;
		height: 12px;
		border-radius: 50%;
	}
	.repository-name {
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
				text-decoration-color: #1976d2;
			}
		}
	}
}

.repository-name {
	font-size: 20px !important;
	font-weight: 600 !important;
}

.publicTag {
	border: 1px solid #bdbdbd !important;
	border-radius: 2em !important;
	font-size: 0.75rem !important;
	font-weight: 500 !important;
	color: $color_3 !important;
	height: 20px !important;
	width: 57px !important;
	margin-left: 10px;
}

.card-footer-info {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-top: 15px;
}
.card-info-item {
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 13px;
	p {
		font-size: 13px;
	}
	span {
		font-size: 13px;
	}
	a {
		text-decoration: none;
		font-size: 13px;
	}
}