$color_1: #ff0000;
$color_2: #ffffff;
$color_3: #726565de;
$color_4: #857979;
$color_5: #463e3e;
$color_6: #666;
$color_7: #222;
$color_8: rgb(31, 35, 40);
$font-family_1: "Roboto","Helvetica","Arial",sans-serif;
$background-color_1: #f6fdff;
$background-color_2: black;
$background-color_3: #1f883d;
$background-color_4: #000000;
$background-color_5: #fff;
$background-color_6: #f34b7d;
$border-color_1: rgb(216, 222, 228);
